* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: arial;
  color: white;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  padding: 0;
  background-size: contain;
/*   background-repeat: no-repeat; */
  
/*   display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "s1 s1 s1 s1"
    ". s2 s2 ."
    ". s2 s2 .";
}
header {
  background: rgba(28,20,13,0.3);
  grid-area: s1;
  margin-bottom: 25px;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > h1 {
  
  border-radius: 15px;
  padding: 20px;
}
main {
  grid-area: s2;
  background: rgba(28,20,13,0.3);
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myCL {
  font-size: 2.5em;
  font-weight: bold;
}

#myTemp {
  font-size: 2.3em;
  font-weight: bold;
}
#tUn {
  font-size: 2.3em;
  color: #00a0b0;
  font-weight: bold;
}
#tUn:hover {
  color: orange;
}
.wDes {
  font-size: 1.5em;
}